# Roshan Maur

# Task 3 - Exploratory Data Analysis - Retail

## Importing all the required libraries

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [47]:
import plotly
import plotly.io as pio
import plotly.graph_objs as go
import plotly.offline as pyo
import plotly.express as px

In [3]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Output, Input
import dash_bootstrap_components as dbc

## Reading and exploring the dataset

In [4]:
df = pd.read_csv("./Downloads/SampleSuperstore.csv")
df.drop("Country", axis=1, inplace=True)

In [5]:
df.head()

,Ship Mode,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   City          9994 non-null   object
 3   State         9994 non-null   object
 4   Postal Code   9994 non-null   int64
 5   Region        9994 non-null   object
 6   Category      9994 non-null   object
 7   Sub-Category  9994 non-null   object
 8   Sales         9994 non-null   float64
 9   Quantity      9994 non-null   int64
 10  Discount      9994 non-null   float64
 11  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(7)
memory usage: 937.1+ KB

In [7]:
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [8]:
df["Segment"].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [9]:
df["State"].unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'South Carolina', 'Oregon', 'Colorado', 'Iowa', 'Ohio',
       'Missouri', 'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut',
       'New Jersey', 'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Montana', 'New Hampshire', 'Maryland',
       'District of Columbia', 'Kansas', 'Vermont', 'Maine',
       'South Dakota', 'Idaho', 'North Dakota', 'Wyoming',
       'West Virginia'], dtype=object)

In [10]:
df["Region"].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [11]:
df["Category"].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [12]:
df["Sub-Category"].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [13]:
df.columns = df.columns.map(lambda x: x.lower())

## Adding abbreviations for all USA states

In [14]:
usa = json.load(open("geojson.geojson", "r"))

In [15]:
usa_df = pd.read_csv("./Downloads/List-of-US-States-master/List-of-US-States-master/states.csv")

In [16]:
usa_df.set_index("State", inplace=True)

In [17]:
usa_df.head()

           Abbreviation
State
Alabama              AL
Alaska               AK
Arizona              AZ
Arkansas             AR
California           CA

In [18]:
usa_dict = usa_df.to_dict()

In [19]:
usa_dict = usa_dict["Abbreviation"]

In [20]:
usa_dict

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [21]:
usa_dict["Alabama"]

'AL'

## Adding the abbreviations column to our original dataset

In [25]:
usa_list = []

for x in df["state"]:
    for x1,y in usa_dict.items():
        if x == x1:
            usa_list.append(y)

In [26]:
df["code"] = usa_list

In [27]:
df["category"].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

## Making a new dataframe using the groupby function for further EDA

In [31]:
new_df = df.groupby(["state", "code", "category"])[["sales", "quantity", "profit", "discount"]].sum()

In [32]:
new_df.reset_index(inplace=True)

In [33]:
new_df

,state,code,category,sales,quantity,profit,discount
0,Alabama,AL,Furniture,6332.480,54,1231.3882,0.0
1,Alabama,AL,Office Supplies,4209.080,149,1257.6342,0.0
2,Alabama,AL,Technology,8969.080,53,3297.8029,0.0
3,Arizona,AZ,Furniture,13525.291,188,-2744.9228,14.0
4,Arizona,AZ,Office Supplies,10005.825,501,-795.5030,42.9
...,...,...,...,...,...,...,...
137,West Virginia,WV,Office Supplies,536.480,15,262.8752,0.0
138,Wisconsin,WI,Furniture,17256.610,144,3838.9545,0.0
139,Wisconsin,WI,Office Supplies,6059.840,215,1965.7762,0.0
140,Wisconsin,WI,Technology,8798.160,104,2597.0697,0.0
141,Wyoming,WY,Furniture,1603.136,4,100.1960,0.2

## Creating the dashboard with the help of Dash and Plotly

In [48]:
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.DARKLY])

In [49]:
category = [{"label":"Technology", "value":"Technology"},
           {"label":"Office Supplies", "value":"Office Supplies"},
           {"label":"Furniture", "value":"Furniture"}]

In [50]:
state_names = []

for y in new_df["state"].unique():
    value = usa_df.loc[y, "Abbreviation"]
    state_names.append({"label":str(y), "value":str(value)})

In [51]:
something = [{"label":"Profit", "value":"profit"},
             {"label":"Number of items sold (Quantity)", "value":"quantity"},
            {"label":"Sales", "value":"sales"}]

In [52]:
segments = [
        {'label': 'Consumer', 'value': 'Consumer'},
        {'label': 'Corporate', 'value': 'Corporate'},
        {'label': 'Home Office', 'value': 'Home Office'}
    ]

In [53]:
sub_df = df.groupby(["category", "sub-category"]).agg({"sub-category": "count"})
sub_df.columns = ["value_counts"]
sub_df.sort_values(by="value_counts", ascending=False, inplace=True)
sub_df.reset_index(inplace=True)
figure_for_most_sold = px.bar(data_frame=sub_df, x="sub-category", y="value_counts", color="category",
      template="plotly_dark", labels={"value_counts": "Quantity of products sold", "sub-category": "Sub-Categories"},
      barmode="relative")

In [54]:
profit_df = df.groupby(["category", "sub-category"]).agg({"sub-category":"count", "profit":"sum"})
profit_df.columns = ["quantity", "profit"]
profit_df.sort_values(by=["profit"], ascending=False, inplace=True)
profit_df.reset_index(inplace=True)
figure_for_most_profit = px.scatter(profit_df, x="sub-category", y="profit", color="category", size="quantity",
          template="plotly_dark", 
        title="The bigger the size of the data point, the more the quantity are sold of the product",
          labels={"sub-category":"Sub-Categories", "profit":"Profit"})

In [55]:
app.layout = html.Div([
    html.H3(["Task 2 - Exploratory Data Analysis - Retail"],  style={"textAlign":"center"}),
    html.Br(),
    html.H4(["Categorical-wise analysis for all USA States"], style={"textAlign":"center"}),
    html.Br(),
    html.Div([
            html.H5(["Select any category"], style={"textAlign":"center"}),
            dcc.Dropdown(id="select_1", options=category, value="Technology", style={"color":"black"})], 
        style={"width":"48%", "display":"inline-block", "marginRight":"2%", "marginLeft":"1%"}),
    html.Div([
        html.H5(["Select on what basis do you want to analyze?"], style={"textAlign":"center"}),
            dcc.Dropdown(id="select_2", options=something, value="quantity", style={"color":"black"})
    ], style={"width":"48%", "display":"inline-block"}),
    html.Br(),
    html.Div([
        dcc.Graph(id="choropleth")
    ]),
    
    html.Br(),
    html.Br(),

    html.H4(["Segment-wise analysis for all categories"], style={"textAlign":"center"}),
    html.Br(),

    html.Div([

        html.H5(["Select any Segment"], style={"marginLeft":"5%"}),
        dcc.RadioItems(id="select_4", options=segments, value='Home Office', 
        labelStyle={'display': 'inline-block', 'cursor': 'pointer', 'margin-left':'20px'}),
        
        html.Div([
            html.H5(["Select on what basis do you want to analyze?"], style={"textAlign":"center"}),
            dcc.Dropdown(id="select_2_again", options=something, value="quantity", 
                        style={"color":"black", "width":"100%"})
        ], style={"display":"relative", "marginLeft":"224%", "width":"180%", "marginTop":"-62px"})

    ], style={"display":"inline-block"}),
    html.Br(),
    html.Div([
        dcc.Graph(id="bar_for_segments")
    ]),

    html.Br(),

    html.Div([
        html.H4(["Which are the most sold products category wise?"], style={"textAlign":"center"}),
        dcc.Graph(id="most_sold", figure=figure_for_most_sold)
    ]),

    html.Br(),

    html.Div([
        html.H4(["Which are the most profitable products?"], style={"textAlign":"center"}),
        dcc.Graph(id="most_profit", figure=figure_for_most_profit)
    ]),

    html.Br(),
    html.Br(),

    html.H4(["Category-wise analysis for all over USA"], style={"textAlign":"center"}),
    html.Br(),
    
    html.Div([
        html.H5(['Select on what basis do you want to analyze?']),
        dcc.Dropdown(id="select_5", options=something, value="profit", style={"color":"black"})
    ], style={"width":"48%", "display":"inline-block"}),
    html.Div([
        dcc.Graph(id="pie_chart")
    ])

])

In [56]:
@app.callback(Output("choropleth", "figure"),
             [Input("select_1", "value"),
             Input("select_2", "value")])
def create_dynamic_choropleth(select_1, select_2):
    
    choro_df = new_df[(new_df["category"]==select_1)]
    title = "{} analysis for {} category".format(select_2, select_1)
    data = dict(type="choropleth", locations=choro_df["code"], 
           locationmode="USA-states", z=choro_df[select_2], 
           colorscale="Jet", geojson=usa, text=choro_df["state"])

    layout = go.Layout(geo=dict(scope="usa",  projection=dict( type='albers usa' ),
                                showlakes=True, lakecolor='rgb(255, 255, 255)'), template="plotly_dark", title=title)

    fig = go.Figure(data = [data], layout=layout)
    
    return fig

In [57]:
@app.callback(Output("bar_for_segments", "figure"),
             [Input("select_4", "value"), 
             Input("select_2_again", "value")])
def create_bar_for_segments(select_4, select_2_again):
    
    variable_df = df[df["segment"]==select_4]
    var = variable_df.groupby(["sub-category", "category"])[["profit", "sales", "quantity"]].sum()
    var.reset_index(inplace=True)

    fig = px.bar(var, x="sub-category", y=select_2_again, color="category", 
                 color_discrete_sequence=px.colors.sequential.Blackbody_r, template="plotly_dark",
                 title="{} in the {} segment".format(select_2_again, select_4), 
                 labels={"sub-category":"Sub-Categories"})
    
    return fig

In [58]:
@app.callback(Output("pie_chart", "figure"),
            [Input("select_5", "value")])
def create_pie_chart_for_category(select_5):

    pie_df = new_df.groupby(["category"])[["sales", "quantity", "profit"]].sum()
    pie_figure = px.pie(pie_df, values=pie_df[select_5].values.tolist(),
                        names=["Furniture", "Office Supplies", "Technology"],
                        template="plotly_dark")
    pie_figure.update_traces(textinfo="label+value", opacity=0.5, marker=dict(line=dict(color="white", width=3)))

    return pie_figure

In [ ]:
if __name__ == "__main__":
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [13/May/2021 12:10:19] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:19] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:19] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:20] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:20] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:21] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:31] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:39] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:55] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:10:58] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:11:29] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:11:33] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [13/May/2021 12:11:36] "POST /_dash-update-component HTTP/1.1" 200 -